streamlit
python-dotenv
openai
weaviate-client
torch
torchvision
transformers>=4.37.0
tokenizers>=0.15.0
Pillow
requests
numpy<2
pyyaml
protobuf<6,>=3.19.0
nltk
FlagEmbedding
marker-pdf
arxiv
hf_xet
nltk